{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"]
  }
}
