<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeapAppIdDev</key>
	<string></string>
	<key>HeapAppIdProd</key>
	<string></string>
	<key>HeapCaptureBaseUrlDev</key>
	<string>false</string>
	<key>HeapCaptureBaseUrlProd</key>
	<string>false</string>
	<key>HeapEnableAutocaptureDev</key>
	<false/>
	<key>HeapEnableAutocaptureProd</key>
	<false/>
</dict>
</plist>
