<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeapAppIdDev</key>
	<string>__HEAP_APP_ID_DEV__</string>
	<key>HeapAppIdProd</key>
	<string>__HEAP_APP_ID_PROD__</string>
	<key>HeapEnableAutocaptureDev</key>
	<string>__HEAP_ENABLE_AUTOCAPTURE_DEV__</string>
	<key>HeapEnableAutocaptureProd</key>
	<string>__HEAP_ENABLE_AUTOCAPTURE_PROD__</string>
</dict>
</plist>
